:root {
  --cycle-time: 16s;
}

.index-pics-container {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
  background-color: #4a4a4a;
}

.index-pic {
  position: absolute;
  transition: transform 0.7s;
  background-color: #4a4a4a;
}

.index-pic-current {
  z-index: 100;
}

.index-pic-next {
  transform: translateX(100%);
  opacity: 0;
}

.index-pic-1 {
  bottom: -200px;
  right: 0;
}

.index-pic-2 {
  bottom: -120px;
}

.index-pic-3 {
  width: 140%;
  height: 100%;
}

.index-image {
  
}

.index-image-1 {
  transform: scale(1.2);
}

.index-image-2 {

}

.index-image-3 {
  width: 100%;
  height: 100%;
}

.index-image-1.animate {
  animation: var(--cycle-time) pic-1 linear infinite alternate;
}

.index-image-2.animate {
  animation: var(--cycle-time) pic-2 linear infinite alternate;
}

.index-image-3.animate {
  animation: var(--cycle-time) pic-3 linear infinite alternate;
}

@keyframes pic-1 {
  0% {
    transform: scale(1.2) rotate(0deg);
  }

  100% {
    transform: scale(1.2) rotate(-25deg);
  }
}

@keyframes pic-2 {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-20%);
  }
}

@keyframes pic-3 {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-20%);
  }
}

.index-pic-title {
  position: absolute;
  width: 100%;
  bottom: 75px;
  z-index: 200;
}

.index-pic-text {
  font-family: "LatoBold", Arial, Tahoma, sans-serif;
  font-size: 35px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
}