:root {
  --main-color: #f7a809;
  --cycle-time: 16s;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: LatoBold;
  src: url(../fonts/Lato-Bold.ttf);
}

#main {
  max-width: 1240px;
  margin: 20px auto auto auto;
}

.content {
  font-family: "Lato", Arial, Tahoma, sans-serif;
  font-size: 18px;
}

h1.title {
  font-family: "LatoBold", Arial, Tahoma, sans-serif;
  font-size: 30px;
}

.paragraph, .text {
  font-family: "Lato", Arial, Tahoma, sans-serif;
  font-size: 18px;
}

.paragraph::before {
  content: "";
  margin-left: 20px;
}

.contact__map {
  display: flex;
  justify-content: center;
}

.carpet-sample {
  display: inline-block;
  width: 300px;
  height: 250px;
  background-size: cover;
}

.carpet-sample_1 {
  background-image: url('../images/sample_1.jpg');
}

.carpet-sample_2 {
  background-image: url('../images/sample_2.jpg');
}

.carpet-sample_1:hover {
  background-image: url('../images/sample_1_hover.jpg');
}

.carpet-sample_2:hover {
  background-image: url('../images/sample_2_hover.jpg');
}

.article__pic {
  display: flex;
  justify-content: center;
}

.article__pic > img {
  max-width: 100%;
}

.hours-img {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.hours-img > img {
  width: 60%;
}