.price {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.price__table {
  width: 100%;
  border-collapse: collapse;
  font-family: "Lato", Arial, Tahoma, sans-serif;
}

.price__table td, .price__table th {
  text-align: center;
  border: 1px solid #000000;
}

.price__table_sticky-top tr:first-child > td {
  border-top: none;
}

/* в семье не без урода */
.price__table td.align-left,
.price__table td[colspan="3"], .price__table_three-prices td[colspan="4"],
.price__table_standart td:first-child:not(.price__number), .price__table_three-prices td:first-child:not(.price__number),
.price__table_standart td:nth-child(2):not(:last-child):not(:nth-last-child(2)),
.price__table_leather td:nth-child(2):not(:last-child) {
  text-align: start;
  padding-left: 10px;
}

.price__table_three-prices th:nth-child(1), .price__table_standart th:nth-child(1) {
  width: 7%;
}

.price__table_standart th:nth-child(2) {
  width: 73%;
}

.price__table_three-prices th:nth-child(3), .price__table_standart th:nth-child(3) {
  width: 10%;
}

.price__table_three-prices th:nth-child(4), .price__table_standart th:nth-child(4) {
  width: 10%;
}

.price__table_three-prices th:nth-child(2) {
  width: 63%;
} 

.price__table_standart th.namecell_short {
  width: 63%;
}

.price__table_leather th:nth-child(1) {
  width: 7%;
}

.price__table_leather th:nth-child(2) {
  width: 73%;
}

.price__table_leather th:nth-child(3) {
  width: 20%;
}

.price__table_fur th:nth-child(1) {
  width: 7%;
}

.price__table_fur th:nth-child(2) {
  width: 21%;
}

.price__table_fur th:not(:nth-child(1)):not(:nth-child(2)) {
  width: 12%;
}