<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        {% load static %}
        {% load tags %}

        <link rel="stylesheet" type="text/css" href="{% static 'palev/css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'palev/css/carousel.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'palev/css/header.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'palev/css/footer.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'palev/css/carpets.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'palev/css/price.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'palev/css/index.css' %}">

        <script src="{% static 'palev/js/carpets_form.js' %}"></script>
        <script src="{% static 'palev/js/carousel.js' %}"></script>
        {% block custom %}
        {% endblock %}
    </head>


    <body>
      {% csrf_token %}
      <div id="main">
        {% header %}

        {% block content %}
        {% endblock %}
        
        {% footer %}
      </div>
    </body>
</html>
