{% extends 'base.html' %}

{% load staticfiles %}

{% block custom %}
  <title>Стирка белья</title>
  <link rel="stylesheet" type="text/css" href="{% static 'palev/css/price.css' %}">
{% endblock %}

{% block content %}
  <div class="content">
    <h1 class="title">Стирка белья</h1>
    <p class="text">Мы предлагаем услуги по стирке и дезинфекции белья с любой степенью загрязнения.</p>
    <p class="text">Наши услуги ориентированы на:</p>
    <p class="paragraph">пансионаты, дома отдыха, санатории, гостиницы;</p>
    <p class="paragraph">фитнес-клубы, салоны красоты;</p>
    <p class="paragraph">рестораны, кафе, бары;</p>
    <p class="paragraph">больницы, поликлиники, роддома, детские сады, интернаты;</p>
    <p class="paragraph">воинские части, госпиталя;</p>
    <p class="text">
      Наряду со стандартным набором услуг, для каждого клиента может быть выработана
      индивидуальная программа обслуживания, учитывающая все специфические требования и
      условия.
    </p>
    <p class="text">Подробно ознакомиться с услугами прачечной Вы можете перейдя по <a class="link" href="http://aqualuxe.org/">ссылке.</a></p>
    <div class="price">
      <h1 class="title">СТИРКА БЕЛЬЯ ДЛЯ ФИЗИЧЕСКИХ ЛИЦ</h1>
      <table class="price__table price__table_standart">
        <tbody>
        <tr>
        <th>
        <p ><b><span >№ п/п</span></b></p>
        </th>
        <th>
        <p ><b><span >Наименование</span></b></p>
        </th>
        <th>
        <p ><b><span >Ед.</span></b></p>
        <p ><b><span >измер.</span></b></p>
        </th>
        <th>
        <p ><b><span >Цена в руб.</span></b></p>
        </th>
        </tr>
        
        <tr>
          <td colspan="4"><p><b>Прямое постельное бельё</b></p></td>
        </tr>

        <tr>
          <td class="price__number"><p>1</p></td>
          <td>Наволочки, простыни, пододеяльники, полотенца</td>
          <td>1 кг</td>
          <td>200</td>
        </tr>

        <tr>
          <td class="price__number"><p>2</p></td>
          <td>Особо сложное бельё</td>
          <td>1 кг</td>
          <td>250</td>
        </tr>

        <tr>
          <td colspan="2"><p><b>Фасонные изделия</b></p></td>
          <td>1 кг</td>
          <td>250</td>
        </tr>

        <tr>
          <td colspan="4"><p><b>Махровые изделия</b></p></td>
        </tr>

        <tr>
          <td class="price__number"><p>3</p></td>
          <td>Халат</td>
          <td>1 шт</td>
          <td>350</td>
        </tr>

        <tr>
          <td class="price__number"><p>4</p></td>
          <td>Полотенца. салфетки и др.</td>
          <td>1 кг</td>
          <td>200</td>
        </tr>

        <tr>
          <td colspan="4"><p><b>Одежда (мужская и женская)</b></p></td>
        </tr>

        <tr>
          <td class="price__number"><p>5</p></td>
          <td>Футболка/майка</td>
          <td>1 шт</td>
          <td>80</td>
        </tr>

        <tr>
          <td class="price__number"><p>6</p></td>
          <td>Блузка</td>
          <td>1 шт</td>
          <td>150</td>
        </tr>

        <tr>
          <td class="price__number"><p>7</p></td>
          <td>Рубашка/сорочка</td>
          <td>1 шт</td>
          <td>150</td>
        </tr>

        <tr>
          <td class="price__number"><p>8</p></td>
          <td>Шорты</td>
          <td>1 шт</td>
          <td>80</td>
        </tr>

        <tr>
          <td class="price__number"><p>9</p></td>
          <td>Брюки/джинсы</td>
          <td>1 шт</td>
          <td>300</td>
        </tr>

        <tr>
          <td class="price__number"><p>10</p></td>
          <td>Платье</td>
          <td>1 шт</td>
          <td>250</td>
        </tr>

        <tr>
          <td class="price__number"><p>11</p></td>
          <td>Толстовка (на флисе или на байке)</td>
          <td>1 шт</td>
          <td>250</td>
        </tr>

        <tr>
          <td colspan="4"><p><b>Верхняя одежда, спец. одежда</b></p></td>
        </tr>

        <tr>
          <td class="price__number"><p>12</p></td>
          <td>Куртка на синтепоне</td>
          <td>1 шт</td>
          <td>500</td>
        </tr>

        <tr>
          <td class="price__number"><p>13</p></td>
          <td>Пальто на синтепоне</td>
          <td>1 шт</td>
          <td>750</td>
        </tr>

        <tr>
          <td class="price__number"><p>14</p></td>
          <td>Брюки утепленные</td>
          <td>1 шт</td>
          <td>450</td>
        </tr>

        <tr>
          <td class="price__number"><p>15</p></td>
          <td>Костюм х/б</td>
          <td>1 шт</td>
          <td>400</td>
        </tr>

        <tr>
          <td colspan="4"><p><b>Пледы, чехлы для мебели, наматрасники</b></p></td>
        </tr>

        <tr>
          <td class="price__number"><p>16</p></td>
          <td>Плед</td>
          <td>1 кг</td>
          <td>200</td>
        </tr>

        <tr>
          <td class="price__number"><p>17</p></td>
          <td>Наматрасник</td>
          <td>1 кг</td>
          <td>200</td>
        </tr>

        <tr>
          <td class="price__number"><p>18</p></td>
          <td>Чехол для мебели (простая ткань)</td>
          <td>1 кг</td>
          <td>200</td>
        </tr>

        <tr>
          <td class="price__number"><p>19</p></td>
          <td>Чехол для мебели (велюр, плюш, иск. мех)</td>
          <td>1 кг</td>
          <td>300</td>
        </tr>

        <tr>
          <td class="price__number"><p>20</p></td>
          <td>Одеяло</td>
          <td>1 кг</td>
          <td>500</td>
        </tr>

        <tr>
          <td colspan="4"><p><b>Шторы</b></p></td>
        </tr>

        <tr>
          <td class="price__number"><p>21</p></td>
          <td>Гардины прямые/фасонные</td>
          <td>1 кг</td>
          <td>250</td>
        </tr>

        <tr>
          <td class="price__number"><p>22</p></td>
          <td>Тюль прямой/фасонный</td>
          <td>1 кг</td>
          <td>400</td>
        </tr>

        <tr>
          <td class="price__number"><p>23</p></td>
          <td>Игрушка мягкая детская</td>
          <td>1 кг</td>
          <td>600</td>
        </tr>

        </tbody>
      </table>
    </div>

    <h1 class="title">Вниманию заказчика!</h1>
    <ul>
      <li>При очень сильном загрязнении (в т.ч. наличие пятен крови и других биологических технических загрязнений устанавливается надбавка в размере +50% к стоимости услуги.</li>
      <li>Глажение вещей 50% от стоимости стирки изделия.</li>
      <li>Нижнее белье и носки в стирку не принимаются.</li>
    </ul>

    <div class="price">
      <h1 class="title">СТИРКА БЕЛЬЯ ДЛЯ ЮРИДИЧЕСКИХ ЛИЦ</h1>
      <table class="price__table price__table_standart">
        <tbody>
        <tr>
        <th>
        <p ><b><span >№ п/п</span></b></p>
        </th>
        <th>
        <p ><b><span >Наименование</span></b></p>
        </th>
        <th>
        <p ><b><span >Ед.</span></b></p>
        <p ><b><span >измер.</span></b></p>
        </th>
        <th>
        <p ><b><span >Цена в руб. без НДС</span></b></p>
        </th>
        </tr>
        
        <tr>
          <td class="price__td-center" colspan="4"><p><b>Бельё до 50 кг. за 1 раз</b></p></td>
        </tr>

        <tr>
          <td class="price__number"><p>1</p></td>
          <td>Прямое постельное бельё (наволочки, простыни,
              пододеяльники, полотенца)</td>
          <td>1 кг</td>
          <td>72.50</td>
        </tr>

        <tr>
          <td class="price__number"><p>2</p></td>
          <td>Махровое белье (полотенца, простыни, салфетки)</td>
          <td>1 кг</td>
          <td>72.50</td>
        </tr>

        <tr>
          <td class="price__number"><p>3</p></td>
          <td>Стирка ресторанного белья (салфетки, скатерти,
              наперроны, чехлы)</td>
          <td>1 кг</td>
          <td>85.00</td>
        </tr>

        <tr>
          <td class="price__number"><p>4</p></td>
          <td>Стирка фасонных изделий</td>
          <td>1 кг</td>
          <td>75.00</td>
        </tr>

        <tr>
          <td class="price__number"><p>5</p></td>
          <td>Стирка спецодежды</td>
          <td>1 кг</td>
          <td>85.00</td>
        </tr>

        <tr>
          <td class="price__number"><p>6</p></td>
          <td>Стирка штор, тюля</td>
          <td>1 кг</td>
          <td>100.00</td>
        </tr>
        
        <tr>
          <td class="price__td-center" colspan="4"><p><b>Бельё более 50 кг. за 1 раз</b></p></td>
        </tr>

        <tr>
          <td class="price__number"><p>1</p></td>
          <td>Прямое постельное бельё (наволочки, простыни,
              пододеяльники, полотенца)</td>
          <td>1 кг</td>
          <td>65.00</td>
        </tr>

        <tr>
          <td class="price__number"><p>2</p></td>
          <td>Махровое белье (полотенца, простыни, салфетки)</td>
          <td>1 кг</td>
          <td>65.00</td>
        </tr>

        <tr>
          <td class="price__number"><p>3</p></td>
          <td>Стирка ресторанного белья (салфетки, скатерти,
              наперроны, чехлы)</td>
          <td>1 кг</td>
          <td>85.00</td>
        </tr>

        <tr>
          <td class="price__number"><p>4</p></td>
          <td>Стирка фасонных изделий</td>
          <td>1 кг</td>
          <td>70.00</td>
        </tr>

        <tr>
          <td class="price__number"><p>5</p></td>
          <td>Стирка спецодежды</td>
          <td>1 кг</td>
          <td>78.00</td>
        </tr>

        <tr>
          <td class="price__number"><p>6</p></td>
          <td>Стирка штор, тюля</td>
          <td>1 кг</td>
          <td>95.00</td>
        </tr>
        
        <tr>
          <td class="price__td-center" colspan="4"><p><b>Дополнительные услуги</b></p></td>
        </tr>

        <tr>
          <td class="price__number"><p>1</p></td>
          <td>Крахмаление</td>
          <td>1 кг</td>
          <td>3.80</td>
        </tr>

        <tr>
          <td class="price__number"><p>2</p></td>
          <td>Ополаскиватель</td>
          <td>1 кг</td>
          <td>3.80</td>
        </tr>

        <tr>
          <td class="price__number"><p>3</p></td>
          <td>Пятновыводка</td>
          <td>1 кг</td>
          <td>7.50</td>
        </tr>

        <tr>
          <td class="price__number"><p>4</p></td>
          <td>Отбеливатель</td>
          <td>1 кг</td>
          <td>7.50</td>
        </tr>

        <tr>
          <td class="price__number"><p>5</p></td>
          <td>Доставка (до 50 кг за 1 раз)</td>
          <td>разово</td>
          <td>800.00</td>
        </tr>

        <tr>
          <td class="price__number"><p>6</p></td>
          <td>Доставка (более 50 кг)</td>
          <td>1 кг</td>
          <td>7.80</td>
        </tr>
        </tbody>
      </table>
    </div>
    
    <h1 class="title">Вниманию заказчика!</h1>
    <ul>
      <li>Счета выставляются с учетом НДС.</li>
      <li>При платном въезде на территорию Заказчика, оплата въезда и выезда осуществляется за счет Заказчика.</li>
      <li>При стирке белья от 100, 500, 1000 кг в месяц, предоставляются специальные цены.</li>
    </ul>
    <p class="text"><b>Индивидуальный подход к каждому клиенту.</b></p>
  </div>
{% endblock %}