{% extends 'base.html' %}

{% load staticfiles %}

{% block custom %}
  <title>Чистка ковров</title>
  <link rel="stylesheet" type="text/css" href="{% static 'palev/css/price.css' %}">
{% endblock %}

{% block content %}
  <div class="content">
      <h1 class="title">Чистка ковров</h1>
      <p class="paragraph">
        Как показали независимые исследования , проведенные по поручению американской фирмы
        "Kleen Tex", чистка защитных ковров пылесосами приводит к удалению с поверхности ковра только
        10 % скопившихся там пыли и песка. Таким образом, без регулярной и интенсивной стирки в
        специализированных стиральных машинах не происходит глубокого очищения ковров, и они
        могут стать дополнительным источником загрязнения помещений.
      </p>
      <p class="paragraph">
        В процессе работы применяется оборудование профессионального уровня, а также чистящие
        вещества, способствующие быстрому и качественному удалению загрязнений. После стирки
        организуется сушка ковров в барабане посредством подачи горячего воздуха. Таким способом
        исключается сырость, образование неприятного запаха и «волн» на ворсе во время использования
        покрытия.
      </p>
      <div class="price">
        <table class="price__table price__table_standart">
          <tbody>
          <tr>
          <th  valign="top" >
          <p><b><span>№ п/п</span></b></p>
          </th>
          <th  valign="top" >
          <p ><b><span >Наименование</span></b></p>
          </th>
          <th  valign="top" >
          <p >Материал</p>
          </th>
          <th  valign="top" >
          <p ><b><span>Цена в руб. кв.м.</span></b></p>
          </th>
          </tr>
          <tr>
          <td colspan="4" valign="top"><p><b>Тонкие ковры</b></p></td>
          </tr>
          
          <tr>
          <td class="price__number" valign="top">
          <p><span>1</span></p>
          </td>
          <td valign="top">
          <p><span>Ковры без кистей с ворсом менее 1 см</span></p>
          </td>
          <td valign="top">
          <p><span>синтетический</span></p>
          </td>
          <td valign="top">
          <p><span>250</span></p>
          </td>
          </tr>
          
          <tr>
          <td class="price__number" valign="top">
          <p><span>2</span></p>
          </td>
          <td valign="top">
          <p><span>Ковры без кистей с ворсом менее 1 см</span></p>
          </td>
          <td valign="top">
          <p><span>шерсть</span></p>
          </td>
          <td valign="top">
          <p><span>300</span></p>
          </td>
          </tr>
          
          <tr>
          <td colspan="4" valign="top"><p><b>Толстые ковры</b></p></td>
          </tr>
          
          <tr>
          <td class="price__number" valign="top">
          <p><span>1</span></p>
          </td>
          <td valign="top">
          <p><span>Ковры без кистей с ворсом 1 см и более</span></p>
          </td>
          <td valign="top">
          <p><span>синтетический</span></p>
          </td>
          <td valign="top">
          <p><span>350</span></p>
          </td>
          </tr>
          
          <tr>
          <td class="price__number" valign="top">
          <p><span>2</span></p>
          </td>
          <td valign="top">
          <p><span>Ковры без кистей с ворсом 1 см и более</span></p>
          </td>
          <td valign="top">
          <p><span>шерсть</span></p>
          </td>
          <td valign="top">
          <p><span>400</span></p>
          </td>
          </tr>
          
          <tr>
          <td colspan="4" valign="top"><p><b>Ковры на кленой основе</b></p></td>
          </tr>
          
          <tr>
          <td class="price__number" valign="top">
          <p><span>1</span></p>
          </td>
          <td valign="top">
          <p><span>Чистка ворса ковра без кистей</span></p>
          </td>
          <td valign="top">
          <p><span>синтетический</span></p>
          </td>
          <td valign="top">
          <p><span>420</span></p>
          </td>
          </tr>
          
          <tr>
          <td class="price__number" valign="top">
          <p><span>2</span></p>
          </td>
          <td valign="top">
          <p><span>Чистка ворса ковра без кистей</span></p>
          </td>
          <td valign="top">
          <p><span>шерсть</span></p>
          </td>
          <td valign="top">
          <p><span>500</span></p>
          </td>
          </tr>
          
          <tr>
          <td class="price__number" valign="top">
          <p><span>3</span></p>
          </td>
          <td valign="top">
          <p><span>Чистка ворса с декоративными вставками из металла, пластика</span></p>
          </td>
          <td valign="top">
          <p><span>любой</span></p>
          </td>
          <td valign="top">
          <p><span>950</span></p>
          </td>
          </tr>
          
          <tr>
          <td colspan="4" valign="top"><p><b>Все ковры с кистями, бахрамой +150 руб. к стоимости чистки ковра</b></p></td>
          </tr>
          </tbody>
        </table>
        
        <h1 class="title">Дополнительные услуги</h1>

        <table class="price__table price__table_standart">
          <tbody>
          <tr>
          <th  valign="top" >
          <p><b><span>№ п/п</span></b></p>
          </th>
          <th  valign="top" >
          <p ><b><span >Наименование</span></b></p>
          </th>
          <th  valign="top" >
          <p >Материал</p>
          </th>
          <th  valign="top" >
          <p ><b><span>Цена в руб. шт.</span></b></p>
          </th>
          </tr>

          <tr>
            <td class="price__number" valign="top">
            <p><span>1</span></p>
            </td>
            <td valign="top">
            <p><span>Чистка и стирка особо сильных
              загрязнений (от обуви, краска, кровь,
              клей, пластилин, липкие загрязнения,
              парафин)</span></p>
            </td>
            <td valign="top">
            <p><span>любой</span></p>
            </td>
            <td valign="top">
            <p><span>+20 % к стоимости</span></p>
            </td>
          </tr>

          <tr>
            <td class="price__number" valign="top">
            <p><span>2</span></p>
            </td>
            <td valign="top">
            <p><span>Чистка и стирка ковров со следами мочи
              без гарантий выведения</span></p>
            </td>
            <td valign="top">
            <p><span>любой</span></p>
            </td>
            <td valign="top">
            <p><span>+20 % к стоимости</span></p>
            </td>
          </tr>

          <tr>
            <td class="price__number" valign="top">
            <p><span>3</span></p>
            </td>
            <td valign="top">
            <p><span>Утилизация старого ковра</span></p>
            </td>
            <td valign="top">
            <p><span>любой</span></p>
            </td>
            <td valign="top">
            <p><span>500</span></p>
            </td>
          </tr>

          <tr>
            <td class="price__number" valign="top">
            <p><span>4</span></p>
            </td>
            <td valign="top">
            <p><span>Доставка или приемка ковра к
              определенному времени в одну сторону.
              (информация предоставляется минимум
              за три дня до предполагаемой даты
              приезда)</span></p>
            </td>
            <td valign="top">
            <p><span>любой</span></p>
            </td>
            <td valign="top">
            <p><span>1500</span></p>
            </td>
          </tr>

          <tr>
            <td class="price__number" valign="top">
            <p><span>5</span></p>
            </td>
            <td valign="top">
            <p><span>Освобождение ковра из под мебели</span></p>
            </td>
            <td valign="top">
            <p><span>любой</span></p>
            </td>
            <td valign="top">
            <p><span>500</span></p>
            </td>
          </tr>

          <tr>
            <td class="price__number" valign="top">
            <p><span>6</span></p>
            </td>
            <td valign="top">
            <p><span>Забор с этажа без лифта*</span></p>
            </td>
            <td valign="top">
            <p><span>любой</span></p>
            </td>
            <td valign="top">
            <p><span>50руб./этаж</span></p>
            </td>
          </tr>

          <tr>
            <td class="price__number" valign="top">
            <p><span>7</span></p>
            </td>
            <td valign="top">
            <p><span>Доставка на этаж без лифта*</span></p>
            </td>
            <td valign="top">
            <p><span>любой</span></p>
            </td>
            <td valign="top">
            <p><span>50руб./этаж</span></p>
            </td>
          </tr>
          
          </tbody>
        </table>
        <p><b>* если ковер не помещается в лифт, спуск и подъем коврового изделия оплачивается по данному тарифу</b></p>
        <p><b>При платном въезде на территорию Клиента, оплата въезда и выезда осуществляется за счет Клиента</b></p>
      </div>
      <p><b>Стоимость работ по чистке/стирке ковров зависит от нескольких факторов:</b></p>
      <ul>
        <li>метод чистки;</li>
        <li>состав изделия;</li>
        <li>степень загрязнения и наличие трудновыводимых пятен;</li>
        <li>площадь очищаемой поверхности;</li>
        <li>вид и количество применяемых моющих средств;</li>
      </ul>
  </div>
{% endblock %}