{% extends 'base.html' %}

{% load staticfiles %}

{% block custom %}
  <link rel="stylesheet" type="text/css" href="{% static 'palev/css/index.css' %}">
{% endblock %}

{% block content %}
  <div class="content">
    <div class="index-services">
      <div class="index-services__container">
        <div class="index-services__icon"><a href="#"><img src="{% static 'palev/images/service-icon-1.png' %}"></a></div>
        <div class="index-services__title"><a class="index-services__link" href="#">Входные ковры</a></div>
      </div>
      <div class="index-services__container">
        <div class="index-services__icon"><a href="#"><img src="{% static 'palev/images/service-icon-2.png' %}"></a></div>
        <div class="index-services__title"><a class="index-services__link" href="#">Условия доставки</a></div>
      </div>
      <div class="index-services__container">
        <div class="index-services__icon"><a href="#"><img src="{% static 'palev/images/service-icon-3.png' %}"></a></div>
        <div class="index-services__title"><a class="index-services__link" href="#">Чистка ковров</a></div>
      </div>
      <div class="index-services__container">
        <div class="index-services__icon"><a href="#"><img src="{% static 'palev/images/service-icon-4.png' %}"></a></div>
        <div class="index-services__title"><a class="index-services__link" href="#">Замена ковров</a></div>
      </div>
    </div>
  </div>
{% endblock %}