{% extends 'base.html' %}

{% load staticfiles %}

{% block custom %}
  <link rel="stylesheet" type="text/css" href="{% static 'palev/css/index.css' %}">
{% endblock %}

{% block content %}
  <div class="content">
    <div class="index-pics-container">
      <img class="index-pic-primary" src="{% static 'palev/images/001.jpg' %}">
      <img class="index-pic-secondary" src="{% static 'palev/images/002.jpg' %}">
      <div class="index-pic-title">
        <div class="index-pic-text">Аренда грязезащитных ковров</div>
      </div>
    </div>
  </div>
{% endblock %}