{% extends 'base.html' %}

{% load staticfiles %}

{% block custom %}
  <title>Аренда грязезащитных ковров, высококачественные грязезащитные ковры в аренду | Группа компаний «Палев»</title>
  <link rel="stylesheet" type="text/css" href="{% static 'palev/css/index.css' %}">
{% endblock %}

{% block content %}
  <div class="content">
    <div class="index-services">
      <div class="index-services__container">
        <div class="index-services__icon"><a href="/replacement"><img src="{% static 'palev/images/service-icon-4.png' %}"></a></div>
        <div class="index-services__title"><a class="index-services__link" href="/replacement">Замена ковров</a></div>
      </div>
      <div class="index-services__container">
        <div class="index-services__icon"><a href="/rent/#delivery"><img src="{% static 'palev/images/service-icon-2.png' %}"></a></div>
        <div class="index-services__title"><a class="index-services__link" href="/rent/#delivery">Условия доставки</a></div>
      </div>
      <div class="index-services__container">
        <div class="index-services__icon"><a href="/cleaning"><img src="{% static 'palev/images/service-icon-3.png' %}"></a></div>
        <div class="index-services__title"><a class="index-services__link" href="/cleaning">Чистка ковров</a></div>
      </div>
      <div class="index-services__container">
        <div class="index-services__icon"><a href="/carpets"><img src="{% static 'palev/images/service-icon-1.png' %}"></a></div>
        <div class="index-services__title"><a class="index-services__link" href="/carpets">Входные ковры</a></div>
      </div>
    </div>
    <hr />
    <div id="index">
      <p class="paragraph">
        Группа компаний «Палев» предлагает кардинальное решение для обеспечения чистоты
        помещений – аренда грязезащитных ковров, эффективно абсорбирующих влагу и задерживающих
        грязь и песок с обуви посетителей. Поскольку современные ковровые покрытия от таких
        известных производителей, как компании Milliken и Wom International стоят достаточно дорого,
        многие компании предпочитают пользоваться сервисом аренды.
      </p>
      <p class="paragraph">
        Преимущества такого решения неоспоримы:
      </p>
      <p class="paragraph">
        Помощь опытного специалиста в вопросах выбора оптимального типа ковров с учетом дизайна,
        специфики применения и проходимости помещения. Наша компания работает на рынке сменных
        ковров уже 21 год, наши сотрудники обладают колоссальным опытом.</p>
      <p class="paragraph">
        Возможность применения действительно качественных покрытий, ведь наши грязезащитные
        ковры – это лучшие модели от известных европейских производителей современных ковровых
        изделий, а также высококачественные аналоги, произведенные по уникальной технологии наших
        партнеров City Clean.
      </p>
      <p class="paragraph">
        Минимум забот, ведь взяв в аренду наши ковры, Вы получаете полный комплекс услуг по
        обслуживанию покрытий, включающий их регулярную замену, чистку и стирку.
      </p>
      <p class="paragraph">
        Финансовая выгода, ведь арендованные изделия обойдутся значительно дешевле, чем
        приобретение аналогичного покрытия и его поддержание в идеальном состоянии.
      </p>
      <p class="paragraph">
        Возможность аренды на короткий срок (для проведения различных мероприятий) или
        заключения договора на постоянное обслуживание (для небольших частных фирм и крупных
        компаний).
      </p>
    </div>
    <div id="about">
      <h1 class="title">
        О нас
      </h1>
      <p class="text">
        Мы работаем в России с 1993 года. За это время, благодаря соблюдению технологии,
        пунктуальности, обязательности и гибкой ценовой политики, нашими постоянными клиентами
        стали многочисленные банки, посольства, отели, офисные и бизнес центры, больницы, торговые
        центры, магазины, бары и рестораны.
      </p>
      <p class="text">
        Наша компания, благодаря своим технологическим возможностям, готова обслуживать
        грязезащитные ковры, уже находящиеся в Вашем пользовании. Мы гарантируем качество,
        оперативность и достойный уровень сервиса.
      </p>
      <p class="text">
        Также компания, являясь официальным дилером компании Reparatie Winkel, занимается
        комплексной защитой входов от грязи, выполняя полный комплекс услуг: изготовление приямков,
        изготовление грязезащитных покрытий (уличные, тамбурные, для вестибюля), доставка и
        установка покрытий. Опытные менеджеры помогут Вам подобрать необходимое покрытие,
        которое максимально защитит Ваше помещение от приносимой с улицы грязи. Любое из
        покрытий возможно изготовить с названием компании или с логотипом.
      </p>
    </div>
  </div>
{% endblock %}