{% extends 'base.html' %}

{% load staticfiles %}

{% block custom %}
  <title>Прокат ковров</title>
{% endblock %}

{% block content %}
  <div class="content">
    <div id="rent">
      <h1 class="title">Прокат ковров</h1>
      <p class="paragraph">
        Мы полностью воспроизводим технологический процесс наших немецких коллег и используем
          применяемые ими входные арендные ковры. Это лучшие модели ковров WOM-2000, Milliken
          Energy ведущих европейских фирм-производителей "Wom International" и "Milliken", Специально
          подобранные для эксплуатации в помещениях с интенсивной посещаемостью и с учетом сложных
          условий в зимнее время (соли, кислоты, машинные масла, переносимые на обуви с тающим
          снегом). Ворс-High Twist, Flor нейлон WOM-2000, не менее 800 грамм на квадратный метр ковра.
      </p>
      <p class="paragraph">
        Основа ковра - нитриловая резина с устойчивостью к горению, cсоответствующая условиям DIN
        66081.
      </p>
      <p class="paragraph">
        Гарантированная поглотительная способность по отношению к жидкости - не менее 5 кг на
        квадратный метр.
      </p>
      <p class="paragraph">
        Гарантированная поглотительная способность по отношению к пыли и песку - не менее 5 кг на
        квадратный метр.
      </p>
      <p class="paragraph">
        Специальная противоскользящая шипованая поверхность резиновой основы ковров.
      </p>
    </div>
    <div id="samples">
      <h1 class="title">Образцы ковров</h1>
      <p class="text">В разработке.</p>
    </div>
    <div id="cleaning">
      <h1 class="title">Чистка ковров</h1>
      <p class="paragraph">
        Как показали независимые исследования , проведенные по поручению американской фирмы
        "Kleen Tex", чистка защитных ковров пылесосами приводит к удалению с поверхности ковра только
        10 % скопившихся там пыли и песка. Таким образом, без регулярной и интенсивной стирки в
        специализированных стиральных машинах не происходит глубокого очищения ковров, и они
        могут стать дополнительным источником загрязнения помещений.
      </p>
      <p class="paragraph">
        В процессе работы применяется оборудование профессионального уровня, а также чистящие
        вещества, способствующие быстрому и качественному удалению загрязнений. После стирки
        организуется сушка ковров в барабане посредством подачи горячего воздуха. Таким способом
        исключается сырость, образование неприятного запаха и «волн» на ворсе во время использования
        покрытия.
      </p>
    </div>
    <div id="delivery">
      <h1 class="title">Условия доставки</h1>
      <p class="text">Привезём ковры в день обращения или на следующий день.</p>
    </div>
  </div>
{% endblock %}