{% extends 'base.html' %}

{% load staticfiles %}

{% block custom %}
  <title>Замена ковров</title>
  <link rel="stylesheet" type="text/css" href="{% static 'palev/css/price.css' %}">
{% endblock %}

{% block content %}
  <h1 class="title">ПРАЙС-ЛИСТ ГРЯЗЕСБОРНЫХ КОВРОВ НА РЕЗИНОВОЙ ОСНОВЕ С УЧЕТОМ АРЕНДЫ</h1>
  <div class="price">
  <p class="text"><b>Ковер стандартного размера 90 х 150 см</b></p>
  <table class="price__table price__table_replacement">
    <tbody>
      <tr>
        <th>количество ковровых покрытий</th>
        <th>Цена за каждый в неделю с заменой 1 раз в месяц</th>
        <th>Цена за каждый в неделю с заменой 1 раз в 2 недели</th>
        <th>Цена за каждый в неделю с заменой 1 раз в неделю</th>
        <th>Цена за каждый в неделю с заменой 2 раза в неделю</th>
        <th>Цена за каждый в неделю с заменой 3 раза в неделю</th>
      </tr>
      <tr>
        <td>1 штука</td>
        <td>100.00</td>
        <td>165.00</td>
        <td>285.00</td>
        <td>543.00</td>
        <td>696.00</td>
      </tr>
      <tr>
        <td>От 10 штук</td>
        <td>60.00</td>
        <td>99.00</td>
        <td>171.00</td>
        <td>325.80</td>
        <td>417.60</td>
      </tr>
    </tbody>
  </table>
  
  <p class="text"><b>Ковёр стандартного размера 120х180, 115х200, 110х200</b></p>
  <table class="price__table price__table_replacement">
    <tbody>
      <tr>
        <th>количество ковровых покрытий</th>
        <th>Цена за каждый в неделю с заменой 1 раз в месяц</th>
        <th>Цена за каждый в неделю с заменой 1 раз в 2 недели</th>
        <th>Цена за каждый в неделю с заменой 1 раз в неделю</th>
        <th>Цена за каждый в неделю с заменой 2 раза в неделю</th>
        <th>Цена за каждый в неделю с заменой 3 раза в неделю</th>
      </tr>
      <tr>
        <td>1 штука</td>
        <td>165.50</td>
        <td>275.50</td>
        <td>389.50</td>
        <td>660.00</td>
        <td>858.00</td>
      </tr>
      <tr>
        <td>От 10 штук</td>
        <td>99.30</td>
        <td>165.30</td>
        <td>233.70</td>
        <td>396.00</td>
        <td>514.80</td>
      </tr>
    </tbody>
  </table>
  
  <p class="text"><b>Ковер стандартного размера 150 х 250 см</b></p>
  <table class="price__table price__table_replacement">
    <tbody>
      <tr>
        <th>количество ковровых покрытий</th>
        <th>Цена за каждый в неделю с заменой 1 раз в месяц</th>
        <th>Цена за каждый в неделю с заменой 1 раз в 2 недели</th>
        <th>Цена за каждый в неделю с заменой 1 раз в неделю</th>
        <th>Цена за каждый в неделю с заменой 2 раза в неделю</th>
        <th>Цена за каждый в неделю с заменой 3 раза в неделю</th>
      </tr>
      <tr>
        <td>1 штука</td>
        <td>261.00</td>
        <td>425.00</td>
        <td>507.50</td>
        <td>773.50</td>
        <td>1030.50</td>
      </tr>
      <tr>
        <td>От 10 штук</td>
        <td>156.60</td>
        <td>255.00</td>
        <td>304.50</td>
        <td>464.10</td>
        <td>618.30</td>
      </tr>
    </tbody>
  </table>
  
  <p class="text"><b>Ковер стандартного размера 90 х 400, 115х400, 150х400</b></p>
  <table class="price__table price__table_replacement">
    <tbody>
      <tr>
        <th>количество ковровых покрытий</th>
        <th>Цена за каждый в неделю с заменой 1 раз в месяц</th>
        <th>Цена за каждый в неделю с заменой 1 раз в 2 недели</th>
        <th>Цена за каждый в неделю с заменой 1 раз в неделю</th>
        <th>Цена за каждый в неделю с заменой 2 раза в неделю</th>
        <th>Цена за каждый в неделю с заменой 3 раза в неделю</th>
      </tr>
      <tr>
        <td>1 штука</td>
        <td>631.00</td>
        <td>973.50</td>
        <td>1230.00</td>
        <td>1973.50</td>
        <td>2455.50</td>
      </tr>
      <tr>
        <td>От 10 штук</td>
        <td>378.60</td>
        <td>584.10</td>
        <td>738.00</td>
        <td>1184.10</td>
        <td>1473.30</td>
      </tr>
    </tbody>
  </table>
  
  <p class="text"><b>Ковер стандартного размера 65 х 85</b></p>
  <table class="price__table price__table_replacement">
    <tbody>
      <tr>
        <th>количество ковровых покрытий</th>
        <th>Цена за каждый в неделю с заменой 1 раз в месяц</th>
        <th>Цена за каждый в неделю с заменой 1 раз в 2 недели</th>
        <th>Цена за каждый в неделю с заменой 1 раз в неделю</th>
        <th>Цена за каждый в неделю с заменой 2 раза в неделю</th>
        <th>Цена за каждый в неделю с заменой 3 раза в неделю</th>
      </tr>
      <tr>
        <td>1 штука</td>
        <td>129.00</td>
        <td>214.50</td>
        <td>370.00</td>
        <td>706.00</td>
        <td>903.00</td>
      </tr>
      <tr>
        <td>От 10 штук</td>
        <td>77.40</td>
        <td>128.70</td>
        <td>222.00</td>
        <td>423.60</td>
        <td>541.80</td>
      </tr>
    </tbody>
  </table>
  </div>
{% endblock %}